<h1>Welcome to Shop App!</h1>
<p>{{title}}</p>


<div class="container">
  <div id="results-row" class="row text-center">
    {{# each allProducts}}
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
          <h4> <strong>{{this.title}}</strong></h4>
           <img src="{{this.image}}" alt="">
           <p>{{this.description}}</p>
           <h4><strong>$ {{this.price}}</strong></h4>
           <a href="/add-to-cart/{{this._id}}" class="btn btn-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart</a>
        </div>
      </div> 
    {{/each}}
  </div>
</div>






